<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/compare">Compare</a>
        <a href="/pricing">Pricing</a>
    </nav>
    <div>
        <div style="align-items: center;">
            <h1>Comparison: With AI vs. Without AI</h1>
        </div>
        <div  class="container">
            <div class="card-container">
                <div class="card">
                    <h2>Without AI</h2>
                    <ul>
                        <li>Higher energy consumption</li>
                        <li>Less efficient charging schedules</li>
                        <li>Increased operational costs</li>
                    </ul>
                </div>
                <div class="card">
                    <h2>With AI</h2>
                    <ul>
                        <li>Optimized energy usage</li>
                        <li>Intelligent charging schedules</li>
                        <li>Reduced operational costs</li>
                        <li>Adaptive learning for improving over time</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
