<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EV Charging Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var evFeedList = document.getElementById('evFeedList');
            function fetchData() {
                fetch('/update-data')
                    .then(response => response.json())
                    .then(data => {
                        //console.log(data); // For debugging
                        
                        // Clear existing grid content
                        const grid = document.getElementById('grid');
                        grid.innerHTML = '';

                        // Rebuild the grid with updated data
                        for (let y = 0; y < 25; y++) { // Assuming a 25x25 grid
                            const row = document.createElement('div');
                            row.className = 'row';
                            for (let x = 0; x < 25; x++) {
                                const cell = document.createElement('div');
                                cell.className = 'cell';
                                
                                // Add EVs and chargers to the cell as needed
                                data.evs.forEach(ev => {
                                    if (ev.x == x && ev.y == y) {
                                        // Add EV icon
                                        const evIcon = document.createElement('img');
                                        // Set src based on battery level, similar logic as in your server-side rendering
                                        const batteryLevel = ev.battery_level_percentage;
                                        evIcon.src = getEvIconSrc(batteryLevel);
                                        evIcon.alt = "EV";
                                        evIcon.className = "ev_icon";
                                        evIcon.title = `State: ${ev.state}, Battery: ${batteryLevel}%, Capacity: ${ev.battery_cap} kWh`;
                                        cell.appendChild(evIcon);
                                    }
                                });

                                data.chargers.forEach(charger => {
                                    if (charger.x == x && charger.y == y) {
                                        // Add Charger icon
                                        const chargerIcon = document.createElement('img');
                                        chargerIcon.src = '{{ url_for("static", filename="images/charger_icon.png") }}'; // Assuming static path
                                        chargerIcon.alt = "Charger";
                                        chargerIcon.className = `charger_icon ${charger.alone ? 'alone' : ''}`;
                                        cell.appendChild(chargerIcon);
                                    }
                                });

                                row.appendChild(cell);
                            }
                            grid.appendChild(row);
                        }
                        // Assuming data.evs contains the updated list of EVs
                        const evFeedList = document.getElementById('evFeedList');
                        // Clear existing list items
                        evFeedList.innerHTML = '';

                        // Populate with updated data
                        data.evs.forEach(ev => {
                            var li = document.createElement('li');
                            var isSmartText = ev.is_smart ? "⚡" : ""; 
                            var text = document.createTextNode(`${isSmartText}(${ev.x}, ${ev.y}): ${ev.state}`);
                            if (ev.is_smart) {
                                li.classList.add('glowing-text');
                            }
                            var statusBar = document.createElement('div');
                            statusBar.style.width = "100%";
                            statusBar.style.backgroundColor = "#555"; // Background of the status bar
                            var chargeLevel = document.createElement('div');
                            
                            chargeLevel.style.width = `${ev.battery_level_percentage}%`;
                            chargeLevel.style.height = "20px"; // Height of the charge level bar
                            chargeLevel.style.backgroundColor = getBatteryColor(ev.battery_level_percentage);
                            chargeLevel.style.textAlign = "center";
                            chargeLevel.style.lineHeight = "20px";
                            chargeLevel.style.color = "white";
                            chargeLevel.textContent = `${ev.battery_level_percentage}%`;
                            
                            statusBar.appendChild(chargeLevel);
                            li.appendChild(text);
                            li.appendChild(statusBar);
                            evFeedList.appendChild(li);
                        });

                        // Update charger feed list
                        const chargerFeedList = document.getElementById('chargerFeedList');
                        chargerFeedList.innerHTML = ''; // Clear existing list items
                        
                        data.chargers.forEach(charger => {
                            const li = document.createElement('li');
                            const text = document.createTextNode(`Charger at (${charger.x}, ${charger.y}): Rate ${charger.price_per_kwh} $/kWh`);
                            
                            li.appendChild(text);
                            chargerFeedList.appendChild(li);
                        });
                    })
                    .catch(error => console.error('Error fetching data:', error));
            }

    
    
            {% for ev in evs %}
                var li = document.createElement('li');
                var text = document.createTextNode('EV at (' + {{ ev.x }} + ', ' + {{ ev.y }} + '): ' + '{{ ev.state }}');
                var statusBar = document.createElement('div');
                statusBar.style.width = "100%";
                statusBar.style.backgroundColor = "#555"; // Background of the status bar
                var chargeLevel = document.createElement('div');
                
                chargeLevel.style.width = "{{ ev.battery_level_percentage }}%";
                chargeLevel.style.height = "20px"; // Height of the charge level bar
                chargeLevel.style.backgroundColor = getBatteryColor({{ ev.battery_level_percentage }});
                chargeLevel.style.textAlign = "center";
                chargeLevel.style.lineHeight = "20px";
                chargeLevel.style.color = "white";
                chargeLevel.textContent = "{{ ev.battery_level_percentage }}%";
                
                statusBar.appendChild(chargeLevel);
                li.appendChild(text);
                li.appendChild(statusBar);
                evFeedList.appendChild(li);
            {% endfor %}
            setInterval(fetchData, 100);
        });
    
        function getBatteryColor(percentage) {
            if (percentage > 50) return "rgb(88, 208, 88)"; // Green for high battery
            if (percentage > 20) return "rgb(210, 210, 58)"; // Yellow for medium battery
            return "rgb(204, 83, 83)"; // Red for low battery
        }

        function getEvIconSrc(batteryLevel) {
            if (batteryLevel > 50) return '{{ url_for("static", filename="images/ev_icon_green.png") }}';
            if (batteryLevel > 20) return '{{ url_for("static", filename="images/ev_icon_yellow.png") }}';
            return '{{ url_for("static", filename="images/ev_icon_red.png") }}';
        }
    </script>
    
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/compare">Compare</a>
        <a href="/pricing">Pricing</a>
    </nav>
    <div class="container">
        <div>
            <div>
                <img src="{{ url_for('static', filename='images/AI-charger.png') }}" alt="AI Charger" class="ai-charger">
            </div>
            <div>
                <img src="{{ url_for('static', filename='images/driver.png') }}" alt="Driver" class="driver">
            </div>
        </div>
        <div id="grid">
            {% for y in range(25) %}
            <div class="row">
                {% for x in range(25) %}
                <div class="cell">
                    {% for ev in evs %}
                        {% if ev.x == x and ev.y == y %}
                            {% set ev_name = 'low' if ev.battery_level_percentage <= 20 else 'medium' if ev.battery_level_percentage <= 50 else 'high' %}
                            {% set tooltip_text = "State: " ~ ev.state ~ ", Battery: " ~ ev.battery_level_percentage ~ "%, Capacity: " ~ ev.battery_cap ~ " kWh" %}
                            {% if ev_name == "high" %}
                                <img src="{{ url_for('static', filename='images/ev_icon_green.png') }}" alt="EV" class="ev_icon" title="{{ tooltip_text }}">
                            {% elif ev_name == "medium" %}
                                <img src="{{ url_for('static', filename='images/ev_icon_yellow.png') }}" alt="EV" class="ev_icon" title="{{ tooltip_text }}">
                            {% else %}
                                <img src="{{ url_for('static', filename='images/ev_icon_red.png') }}" alt="EV" class="ev_icon" title="{{ tooltip_text }}">
                            {% endif %}
                            
                        {% endif %}

                    {% endfor %}

                    {% for charger in chargers %}
                        {% if charger.x == x and charger.y == y %}
                        <img src="{{ url_for('static', filename='images/charger_icon.png') }}" alt="Charger" class="charger_icon {{ 'alone' if charger.alone }}">
                        {% endif %}
                    {% endfor %}

                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div>
            <div class="ev-feed">
                <h2>EV Status</h2>
                <ul id="evFeedList">
                    <!-- EV entries will be added here -->
                </ul>
            </div>
            <div class="charger-feed">
                <h2>Charger Status</h2>
                <ul id="chargerFeedList">
                    <!-- Charger entries will be added here -->
                </ul>
            </div>
        </div>        
    </div>
</body>
</html>

